layout: default.twig
permalink: documentation/extending-sherlock/

documentation: active
extending-sherlock: active

docs: true
---


<div class="container docs-w">
    <!-- Docs nav
    ================================================== -->
    <div class="row">
        <div class="span3 bs-docs-sidebar">
            <ul class="nav nav-list bs-docs-sidenav" data-spy="affix" data-offset-top="200">
                <li class="active"><a href="#plugins"><i class="icon-chevron-right"></i>Plugins</a></li>
                <li><a href="#eventdispatcher"><i class="icon-chevron-right"></i>Symfony EventDispatcher</a></li>
            </ul>
        </div>


        <div class="span9">

        </div>
    </div>
</div>
