layout: default.twig
permalink: documentation/search/

documentation: active
search: active

docs: true
---


<div class="container docs-w">
    <!-- Docs nav
    ================================================== -->
    <div class="row">
        <div class="span3 bs-docs-sidebar">
            <ul class="nav nav-list bs-docs-sidenav" data-spy="affix" data-offset-top="200">
                <li class="active"><a href="#building-search-query"><i class="icon-chevron-right"></i>Building a Search Query</a></li>
                <li><a href="#adding-filters"><i class="icon-chevron-right"></i> Adding Filters</a></li>
                <li><a href="#adding-facets"><i class="icon-chevron-right"></i> Adding Facets</a></li>
                <li><a href="#sorting"><i class="icon-chevron-right"></i> Result Sorting</a></li>
                <li><a href="#highlighting"><i class="icon-chevron-right"></i> Highlighting</a></li>
                <li><a href="#raw-queries"><i class="icon-chevron-right"></i> Constructing Raw Queries</a></li>
            </ul>
        </div>


        <div class="span9">

        </div>
    </div>
</div>
