layout: default.twig
permalink: documentation/errors/

documentation: active
errors: active

docs: true
---


<div class="container docs-w">
    <!-- Docs nav
    ================================================== -->
    <div class="row">
        <div class="span3 bs-docs-sidebar">
            <ul class="nav nav-list bs-docs-sidenav" data-spy="affix" data-offset-top="200">
                <li class="active"><a href="#sherlock-exceptions"><i class="icon-chevron-right"></i>Sherlock Exceptions</a></li>
            </ul>
        </div>


        <div class="span9">

        </div>
    </div>
</div>
