layout: default.twig
permalink: documentation/index-operations/

documentation: active
indexing-operations: active

docs: true
---


<div class="container docs-w">
    <!-- Docs nav
    ================================================== -->
    <div class="row">
        <div class="span3 bs-docs-sidebar">
            <ul class="nav nav-list bs-docs-sidenav" data-spy="affix" data-offset-top="200">
                <li class="active"><a href="#creating-an-index"><i class="icon-chevron-right"></i>Creating an Index</a></li>
                <li><a href="#deleting-an-index"><i class="icon-chevron-right"></i> Deleting an Index</a></li>
                <li><a href="#updating-settings"><i class="icon-chevron-right"></i> Updating Settings</a></li>
                <li><a href="#updating-mappings"><i class="icon-chevron-right"></i> Updating Mappings</a></li>

            </ul>
        </div>


        <div class="span9">




        </div>
    </div>
</div>