layout: default.twig
permalink: help/
help: active
---

<section class='section-wrapper about-page-w'>
    <div class='container'>
        <div class='row row-separated'>
            <div class='span8 offset2'>
                <h3 class='section-header'>Get Help</h3>

                <p  class='section-paragraph'>Since the documentation is still actively being created, and Sherlock is undergoing a lot of changes due to it's young nature, you will probably have questions.  There are four great places to get my attention:</p>
                <ul  class='section-paragraph'">
                    <li style="padding-bottom: 10px"><a href="https://twitter.com/ZacharyTong">Ping me on Twitter @ZacharyTong</a> - I keep an eye on my Twitter account, so drop me a message at any time</li>
                    <li style="padding-bottom: 10px"><a href="https://groups.google.com/forum/?fromgroups#/sherlockphp">The SherlockPHP Email List</a> - Probably the best place for discussions, bug reports or general questions.</li>
                    <li style="padding-bottom: 10px">#ElasticSearch or #SherlockPHP on Freenode - I idle in both channels as "polyfractal", feel free to ping me whenever!</li>
                    <li style="padding-bottom: 10px"><a href="https://github.com/polyfractal/sherlock/issues">File an Issue</a> - Issues are closely monitored, so if you've run into a bug, file it there!  If you just have a question, try email or IRC first.</li>
                </ul>

            </div>

        </div>
    </div>
</section>