<footer>
    <div class='pre-footer'>
        <div class='container'>
            <div class='row'>
                <div class='span4'>
                    <div class='footer-logo'>
                        <a>Sherlock<strong>PHP</strong></a>
                    </div>
                    <ul class='footer-address'>

                    </ul>
                </div>
                <div class='span4'>
                    <h5 class='footer-header'>Recent News</h5>
                    <ul class='footer-list'>
                        <li>
                            <a>Vestibulum auctor dapibus</a>
                        </li>
                    </ul>
                </div>
                <div class='span4'>
                    <h5 class="footer-header" >"Data! Data! Data!"</h5>
                    <p class='footer-list'>he cried impatiently. <strong>"I can't make bricks without clay."</strong></p>
                    <small class="footer-list pull-right">-Sir Arthur Conan Doyle</small>
                </div>
            </div>
        </div>
    </div>
    <div class='deep-footer'>
        <div class='container'>
            <div class='row'>
                <div class='span6'>
                    <div class='copyright'>Copyright &copy; 2013 Zachary Tong. All rights reserved.</div>
                </div>
                <div class='span6'>
                    <ul class='footer-links'>
                        <li>
                            <a>Some</a>
                        </li>
                        <li>
                            <a>Footer</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
